/****BASE STYLES****/

body {
    font-family: 'poppins', sans-serif; 
}

#about, #work, #contact {
    height: 600px;
}

/****GRID****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    clear: both;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/****HEADER****/

header {
    text-align: center;
}

header h1 {
    color: #7894ff;
    font-size: 60px;
    font-weight: bold;  
    letter-spacing: 7px;
    text-transform: uppercase;
}

header h1 span {
    color: #ff502c;
}

header h2 {
    font-size: 36px;
    font-weight: normal; 
    padding-top: 120px;
    line-height: 30px;
}

header h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 30px;
}

header h3 span {
    color: #7B287D;
    font-weight: bold;
}   

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #7067CF;
    text-decoration: none;
    text-transform: uppercase;
}

/***ABOUT***/

