@font-face {
    font-family: Museo Sans 500;
    src: url('fonts/museo-sans-500.otf') format('opentype');
} 

/****BASE STYLES****/

body {
    font-family: 'museo sans 500', sans-serif; 
    color: #353535;
}

#about, #work, #contact {
    height: 600px;
}

/****GRID****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/****HEADER****/

header {
    height: 768px;
}

header h1 {
    color: #0000ff;
    font-family: 'playfair display', serif;
    font-size: 48px;
    font-weight: bold;  
    padding: 12px 0;
}

header h2 {
    clear: left;
    font-size: 36px;
    padding-top: 120px;
    line-height: 36px;
}

header h3 {
    font-size: 36px;
    line-height: 36px;
}

header h3 span {
    color: #0000ff;
    font-weight: bold;
}

#header-box {
    padding: 80px 0;
}

nav {
    float: right;
    padding: 40px 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ec0b43;
    padding-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

/***ABOUT***/

