@font-face {
    font-family: Museo Sans 500;
    src: url('fonts/museo-sans-500.otf') format('opentype');
} 

/****Base styles****/

body {
    font-family: 'museo sans 500', sans-serif; 
}

/****Grid****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

.third-width {
    float: left;
    width: 400px;
}

/****Header****/

header h1 {
    color: royalblue;
    font-family: 'playfair display', serif;
    font-size: 48px;
    font-weight: bold;  
}

header h2 {
    color: darkslategray;
    font-size: 42px;
}